<?xml version="1.0"?>
<config>
    <modules>
        <Exam_Domain>
            <version>0.3.0</version>
        </Exam_Domain>
    </modules>
    <global>
        <helpers>
            <exam_domain>
                <class>Exam_Domain_Helper</class>
            </exam_domain>
        </helpers>
        <blocks>
            <exam_domain>
                <class>Exam_Domain_Block</class>
            </exam_domain>
        </blocks>
        <models>
            <exam_domain>
                <class>Exam_Domain_Model</class>
                <resourceModel>exam_domain_resource</resourceModel>
            </exam_domain>
            <exam_domain_resource>
                <class>Exam_Domain_Model_Resource</class>
                <entities>
                    <domain>
                        <table>exam_domain_domain</table>
                    </domain>
                    <domain_product>
                        <table>exam_domain_product</table>
                    </domain_product>
                </entities>
            </exam_domain_resource>
        </models>
        <resources>
            <exam_domain_setup>
                <setup>
                    <module>Exam_Domain</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </exam_domain_setup>
            <exam_domain_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </exam_domain_write>
            <exam_domain_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </exam_domain_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <exam_domain>
                <use>standard</use>
                <args>
                    <module>Exam_Domain</module>
                    <frontName>domain</frontName>
                </args>
            </exam_domain>
        </routers>
        <layout>
            <updates>
                <exam_domain>
                    <file>exam/domain.xml</file>
                </exam_domain>
            </updates>
        </layout>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>Exam_Domain.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Exam_Domain_Adminhtml before="Mage_Adminhtml">Exam_Domain_Adminhtml</Exam_Domain_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <exam_domain>
                    <files>
                        <default>Exam_Domain.csv</default>
                    </files>
                </exam_domain>
            </modules>
        </translate>
        <layout>
            <updates>
                <exam_domain>
                    <file>exam/domain.xml</file>
                </exam_domain>
            </updates>
        </layout>
    </adminhtml>
</config>